@import "custom";

@import "~bootstrap/scss/bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.masthead h1 {
  font-weight: 700;
  color: #134f5c;
  margin-top: 10px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.marketing {
  margin: 60px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

#clear_qualities {
  margin-left: 1em;
}

#qualities ul li {
  list-style: none;
  display: inline-block;
  margin: 4px;
}

#qualities ul {
  margin-left: 0;
  margin-right: 0px;
  padding-inline-start: 0px;
}

#questions ol {
  padding-inline-start: 25px;
}

#questions ol li {
  margin-bottom: 6px;
}


.footer {
  font-size: 0.8em;
  color: #666;
}
